@model School.Models.Teacher
@{
    ViewBag.Title = "Show";
}

<div id="containershow">
    <nav>
        <p>
            <br/><a class="navlink" href="/Teacher/List">Back To Teachers List</a>
        </p>
        <p>
            <a class="dellink" href="/Teacher/DeleteConfirm/@Model.Teacherid">Delete</a>
        </p>
    </nav>
    <h2>@Model.Teacherfname @Model.Teacherlname </h2>
    <p>Teacher ID: @Model.Teacherid</p>
    <p>Employee Number: @Model.Employeenumber</p>
    <p>First Name: @Model.Teacherfname </p>
    <p>Last Name: @Model.Teacherlname </p>
    <p>Hire Date: @Model.Hiredate</p>
    <p>Salary: @Model.Salary</p>
</div>
